node_modules/
dist/
.env
.DS_Store
.vscode/
*.log
.idea/
coverage/
*.iml
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnp/
.pnp.js
.cache/
.next/
out/
build/
*.tsbuildinfo
.vite/
.svelte-kit/
*.local
*.swp
*.bak
*.tmp
*.orig
*.rej
*.class
*.war
*.jar
*.exe
*.dll
*.so
*.obj
!public/assets/*.obj
*.pyc
__pycache__/
*.egg-info/
.eggs/
IRIS/